{% extends 'base.html.twig' %}

{% block title %}Kidanniv - Accueil{% endblock %}

{% block body %}

<h1> Kidanniv, le site qui vous permet de réaliser l'anniversaire de ses rêves</h1>
<div class="container" id="home-container">

    <div class="row">
        <a href="">
        <div class="col-6">
            <p>
                J'organise un anniversaire
            </p>
        </div>
</a>
<a href="">
        <div class="col-6">
            <p>
                Je propose mes prestations
            </p>
        </div>
</a>
    </div>

     
</div>
{% endblock %}