{% extends 'base.html.twig' %}

{% block title %}Kidanniv - Accueil{% endblock %}

{% block body %}

<h1> Kidanniv, le site qui vous permet de réaliser l'anniversaire dont rêve votre enfant</h1>
<main>


    <div class="card" style="width: 25%;">
        <div class="card-body">
            <h5 class="card-title">Comment ça fonctionne ?</h5>
            {# <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> #}
            <p class="card-text">
                Obtenez des devis de partenaire près de chez vous
                <ul>
                    <li>Entrer votre département</li>
                    <li>Selectionner vos presations</li>
                    <li>Choississez parmis les prestataires</li>
                    <li>Recevez vos devis</li>
                </ul>

            </p>
            <a href="#" class="card-link">C'est parti!</a>
            
        </div>
    </div>
</main>

{% endblock %}