{% extends 'base.html.twig' %}

{% block title %}Kidanniv - Accueil{% endblock %}

{% block body %}

<h1 class="white"> Kidanniv, le site qui vous permet de réaliser l'anniversaire de ses rêves</h1>
<div class="container">
    <div class="row">
        <div class="col-6">


            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=" {{ asset ('images/childrenandbaloons.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">J'organise un anniversaire</h5>
                    <p class="card-text">Trouvez les prestataires autour de moi.</p>
                    <a href="#" class="btn btn-primary">C'est parti</a>
                </div>
            </div>

        </div>
        <div class="col-6">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ asset ('images/magicien.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Je propose mes prestations</h5>
                    <p class="card-text">Proposez mes prestations autour de moi</p>
                    <a href="#" class="btn btn-primary">C'est parti!</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}