{% extends 'base.html.twig' %}

{% block title %} Organisateur - Créer un compte {% endblock %}

{% block body %}
<h1 class="white on-image"> Espace organisateur - Créer un compte</h1>
<div class="container">
    <div class="row">

        <div class="col">

            {{ form_start(formView) }}
            {{ form_widget(formView) }}
            <button class="btn btn-primary" type="submit">Valider</button>
            {{ form_end(formView) }}

        </div>
    </div>
</div>

{% endblock %}