{% extends 'base.html.twig' %}
{% block title %}Mail de Bienvenue{% endblock %}

{% block body %}



<div class="container">
    <div class="row mt-4">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-2 ">

            <h2>Coucou Bienvenue sur Kidparty, let's go my nigger</h2>
            
        </div>

{% endblock %}
